body {
	text-align: center;
}

footer {
	font-size: 0.7em;
}

#summary {
	font-weight: bold;
}

#authors {
	font-size: 0.7em;
}

h2 {
	color: #99CCFF;
}

#banner {
	max-width: 100%;
}

ul {
	list-style-type: none;
}